* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  line-height: 25px;
}

p, a, ul {
  font-family: "Arial";
}

@font-face {
  font-family: "PPTelegraf-Regular";
  src: url("../fonts/PPTelegraf-Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "PPTelegraf-UltraBold";
  src: url("../fonts/PPTelegraf-UltraBold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Arial-regular";
  src: url("../fonts/arial-regular.ttf");
  font-weight: normal;
}
.title-home-h1, .title-h2, .title-h3, .title-h2-design-website, .title-h2-online-website {
  font-family: PPTelegraf-UltraBold;
  color: rgb(28, 98, 151);
}

.title-h3-subtitle {
  font-family: PPTelegraf-Regular;
  color: rgb(28, 98, 151);
  font-size: 25px;
}

.title-home-h1 {
  font-size: 35px;
  max-width: 800px;
  margin-bottom: 50px !important;
}

.title-h2 {
  text-align: center;
  font-size: 35px;
  padding: 50px;
}

.title-type-website, .title-management {
  background-color: rgb(241, 241, 241);
}

.title-h3 {
  font-size: 28px;
}

.title-type-site {
  margin-bottom: 20px !important;
}

.title-type-eshop, .title-type-showcase {
  display: flex;
  align-items: center;
}
.title-type-eshop:before, .title-type-showcase:before {
  content: "";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

.title-type-showcase:before {
  background-image: url("../icons/site-vitrine.png");
}

.title-type-eshop:before {
  background-image: url("../icons/site-e-commerce.png");
}

.title-web-projects {
  padding-bottom: 50px;
}

.title-h2-design-website, .title-h2-online-website {
  font-size: 35px;
}

.btn-princ {
  font-family: "PPTelegraf-Regular";
}
.btn-princ a {
  padding: 25px 35px;
  display: flex;
  font-size: 23px;
  align-items: center;
}
.btn-princ a:after {
  content: "";
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
}

.btn-view-more {
  position: absolute;
  left: 450px;
  bottom: 10%;
  transform: translateX(-50%);
}
.btn-view-more a {
  background-color: rgb(28, 98, 151);
}
.btn-view-more a:after {
  background-image: url("../icons/arrow-down.png");
  width: 50px;
  height: 50px;
}

.btn-blog {
  font-family: "PPTelegraf-UltraBold";
  margin-right: 25px !important;
}
.btn-blog a {
  background-color: rgb(119, 221, 233);
  color: rgb(28, 98, 151);
  height: 100px;
  width: 200px;
  justify-content: center;
}
.btn-blog a:after {
  margin-left: 0px;
}

.btn-contact {
  margin-right: 25px !important;
}
.btn-contact a {
  background-color: rgb(28, 98, 151);
}
.btn-contact a:after {
  background-image: url("../icons/arrow-down.png");
  width: 50px;
  height: 50px;
  rotate: 230deg;
}

.btn-next {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.btn-next a {
  background-color: rgb(255, 255, 255);
  color: rgb(28, 98, 151);
}
.btn-next a:after {
  background-image: url("../icons/arrow-next-slide.png");
  width: 50px;
  height: 50px;
}

.btn-section-type-site {
  position: absolute;
  bottom: -25px;
  right: -75px;
  height: 50px;
}
.btn-section-type-site a {
  background-color: rgb(28, 98, 151);
  display: flex;
}
.btn-section-type-site a:after {
  content: "";
  background-image: url("../icons/arrow-right.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.btn-link-view-more a {
  background: none;
  color: rgb(28, 98, 151);
  padding: 0;
  text-decoration: underline;
  margin: 0px 0 20px 0;
}

header {
  width: 450px;
  height: 100vh;
  background-color: rgba(28, 98, 151, 0.11);
  padding: 20px;
  position: absolute;
}
header img {
  display: block;
  width: 250px;
  margin: 20px auto 70px auto;
}
header a {
  color: rgb(28, 98, 151);
  font-size: 25px;
}
header .menu-principal {
  font-family: "PPTelegraf-Regular", sans-serif;
}
header .menu-principal .menu-item-has-children {
  height: 100%;
  margin-bottom: 40px;
  display: flex;
}
header .menu-principal .menu-item-has-children:before {
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  border-right: solid 5px rgb(119, 221, 233);
  padding-right: 10px;
}
header .menu-principal #menu-item-13:before {
  background-image: url("../icons/logo_type_site.png");
}
header .menu-principal #menu-item-14:before {
  background-image: url("../icons/conception-graphique.png");
}
header .menu-principal #menu-item-15:before {
  background-image: url("../icons/presence-en-ligne.png");
}
header .menu-principal #menu-item-16:before {
  background-image: url("../icons/presentation-financiere.png");
}
header .menu-principal .nav-link {
  width: 250px;
}
header .menu-principal .sub-menu {
  display: none;
}

.txt-home {
  font-family: "Arial";
  padding-left: 450px;
  height: 100vh;
}
.txt-home .section-content-home {
  margin: auto;
}
.txt-home .section-content-home .p-content {
  font-size: 24px;
  line-height: 35px;
}
.txt-home .section-content-home .p-content strong {
  color: rgb(28, 98, 151);
}

.bloc-btn-header {
  position: absolute;
  right: 0;
  padding-top: 40px;
}

footer {
  background-color: rgb(28, 98, 151);
  padding: 50px;
}
footer .icon-footer-pixaweb {
  width: 125px;
  height: auto;
}
footer hr {
  margin-top: 25px !important;
  height: 1px;
  background-color: rgb(112, 112, 112);
  width: 100%;
  border-top: none !important;
}
footer .title-bloc-footer, footer .bloc-menu-footer {
  color: rgb(255, 255, 255);
}
footer .title-bloc-footer {
  font-weight: 600;
  font-size: 20px;
  margin: 25px 0;
}
footer .bloc-menu-footer {
  align-items: baseline;
}
footer .bloc-menu-footer .col-menu-footer {
  margin-right: 25px;
}
footer .bloc-menu-footer .col-menu-footer p {
  font-weight: 600;
}

.section-slide {
  background-color: rgb(28, 98, 151);
  justify-content: space-around;
  padding: 150px 0;
  position: relative;
}
.section-slide .content-row {
  max-width: 1200px;
}
.section-slide .content-row .img-slide {
  max-width: 750px;
  padding-right: 50px;
}
.section-slide .content-row .slide-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.section-slide .content-row .info-slide {
  padding-left: 50px;
}
.section-slide .content-row .info-slide .title-slide {
  font-family: "PPTelegraf-UltraBold";
  font-size: 35px;
}
.section-slide .content-row .info-slide .title-slide, .section-slide .content-row .info-slide .txt-slide {
  color: rgb(255, 255, 255);
}
.section-slide .content-row .info-slide .txt-slide {
  font-family: "ARIAL";
  max-width: 500px;
}

.section-types-sites {
  background-color: rgb(241, 241, 241);
  padding: 50px 0 100px 0;
}
.section-types-sites .bloc-container {
  max-width: 1250px;
  margin: auto;
  justify-content: space-between;
}
.section-types-sites .bloc-container .bloc-type-site {
  background-color: rgb(255, 255, 255);
  width: 45%;
  padding: 50px;
  height: 350px;
  position: relative;
}

.mySwiper {
  overflow: hidden;
  margin: auto;
  width: 750px;
  padding-bottom: 100px;
}
.mySwiper .swiper-wrapper {
  display: flex;
}

.section-design-website {
  max-width: 1450px;
  margin: auto;
}
.section-design-website .emp-section-content {
  margin-right: 100px;
  max-width: 800px;
}

.section-online {
  max-width: 1450px;
  margin: 100px auto;
}
.section-online .emp-section-online {
  margin-left: 100px;
}

.section-management {
  background-color: rgb(241, 241, 241);
  padding: 50px 0 100px 0;
}
.section-management .section-management-website {
  margin: auto;
  max-width: 1450px;
}
.section-management .section-management-website .emp-section-management {
  margin-right: 100px;
}

/*# sourceMappingURL=main.css.map */
