@import "../../../../pixawebtheme/assets/sass/utils/variables"
@import "../../../../pixawebtheme/assets/sass/utils/mixins"

.title-home-h1
  color: $cPrinc
  font-size: 35px
  font-family: PPTelegraf-UltraBold
  max-width: 800px
  margin-bottom: 50px!important