@import "../../../../pixawebtheme/assets/sass/utils/variables"
@import "../../../../pixawebtheme/assets/sass/utils/mixins"

.section-slide
  background-color: $cPrinc
  justify-content: space-around
  padding: 150px 0
  position: relative
  .content-row
    max-width: 1200px
    .img-slide
      max-width: 750px
      padding-right: 50px
    .slide-hidden
      position: absolute
      top: -9999px
      left: -9999px
    .info-slide
      padding-left: 50px
      .title-slide
        font-family: 'PPTelegraf-UltraBold'
        font-size: 35px
      .title-slide, .txt-slide
        color: $cWhite
      .txt-slide
        font-family: 'ARIAL'
        max-width: 500px

.section-types-sites
  background-color: $cGray
  padding: 50px 0 100px 0
  .bloc-container
    max-width: 1250px
    margin: auto
    justify-content: space-between
    .bloc-type-site
      background-color: $cWhite
      width: 45%
      padding: 50px
      height: 350px
      position: relative

.section-swiper
  max-width: 1250px
  margin: auto
  .swiper-wrapper
    display: flex

